.content {
    display: flex;
    justify-content: center;
    text-align: center;
    display: block;
}
.currency-text {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 1vh;
}
.currency-select {
    margin-bottom: 2vh;
}
.task1-text {
    font-weight:bolder;
    font-size: x-large;
    margin-bottom: 2vh;
    color: indigo;
}
.task1-button {
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 2vh;

    &:disabled {
        background-color: gray;
    }
}
.task1-result {
    font-size: x-large;
    font-weight: bold;
    margin-top: 1vh;
}
.task1-result div {
    color: rgb(130, 0, 0);
    display: inline;
}
.task2-content{
    margin-top: 4vh;
}
.task2-text {
    font-weight:bolder;
    font-size: x-large;
    margin-bottom: 2vh;
    color: indigo;
}
.range-text {
    font-size: large;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.number-text {
    display: inline;
    font-size:medium;
    font-weight: bold;
    color: indigo;
}
.task3-content {
    margin-top: 4vh;
}
